<!DOCTYPE html>
<html>
<head>
    <title>Edit Task</title>
</head>
<body>

<h2>Edit Task</h2>

<form method="POST">
    {% csrf_token %}

    <input type="text" name="title" value="{{ task.title }}" required>

    <br><br>
    <input type="time" name="task_time"
    value="{{ task.task_time|time:'H:i' }}">
<br><br>
    <label>
        <input type="checkbox" name="completed"
        {% if task.completed %}checked{% endif %}>Completed
 
    </label>

    <br><br>

    <button type="submit">Update</button>
</form>

<br>

<a href="{% url 'todo' %}">⬅ Back to To-Do List</a>

</body>
</html>
